---
import Date from "./Date.astro";

export interface Props {
  title: string;
  publishedDate: string;
}

const { title, publishedDate } = Astro.props;
---

<header class="flex flex-col gap-1">
  <h1 class="text-zinc-900 text-4xl font-medium">{title}</h1>
  <span class="text-zinc-500">
    Published at -
    <Date date={publishedDate} />
  </span>
</header>
